<div
    id="grid"
    #grid
    [ngStyle]="{'width': containerWidth+'px','height': containerWidth+'px' }">
    <div
        *ngFor="let item of tiles"
        [ngClass]="{
            'tile cell': true,
            'blank': item.isEmpty === true,
            'right-position': item.isRightPosition()
          }"
        [ngStyle]="{'width': tileWidth-tileGap+'px','height': tileHeight-tileGap+'px', 'left': item.positionLeft+'px', 'top': item.positionTop+'px', 'margin-left' : tileGap / 2 + 'px' }"
        (click)="swapElements($event,item);">
        {{item.label}}
    </div>
</div>
