.play-component-meta {
  max-width: 300px;
  margin: 0 auto;
  *background: #17a2b83d;
  > div {
    padding: 0 5px;
  }
  .moves-counter {
    text-align: left;
  }
  .time-counter {
    text-align: right;
  }
}
#grid {
  /*display: grid;
  grid-template-columns: 80px 80px 80px 80px;*/
  position: relative;
  margin: 5px auto 25px;
}




@keyframes slideright {
  from {transform: translate(0,0)}
  to { transform: translate(calc(100% + 6px), 0);}
}

@keyframes slideleft {
  from {transform: translate(0,0)}
  to { transform: translate(calc(-100% - 6px), 0);}
}

@keyframes slideup {
  from {transform: translate(0,0)}
  to { transform: translate(0, calc(-100% - 6px));}
}

@keyframes slidedown {
  from {transform: translate(0,0)}
  to { transform: translate(0, calc(+100% + 6px));}
}


#clock {
  font-family: monospace;
  font-size: 48px;
}

#clock.slow {
  color: red;
}
