<h1 class="page-title">Lets The Action Begin!</h1>
<div class="play-component-meta row align-items-center">
    <div class="col-md-6 moves-counter">
        {{movesCounter}}
    </div>
    <div class="col-md-6 time-counter">
        <fifteen-time-counter></fifteen-time-counter>
    </div>
</div>
<fifteen-game-board (incrementMoveCounter)="incrementMoveCounter($event)" (putScore)="setPlayerResult($event)"></fifteen-game-board>  
<button class="button" id="pause" (click)="toggleActiveGame();">{{isGameActive ? 'Pause' : 'Continue'}}</button>
<button class="button" id="new_game" (click)="newGame();">New game</button>
