<h1
    class="page-title player-title"
    *ngIf="player && player._id != '0'">
    Greetings {{ player.name }}
</h1>
<nav class="nav main-navigation">
    <ul>
        <li>
            <a
                class="nav-link"
                routerLink="game"
                routerLinkActive="active">
                Play
            </a>
        </li>
        <li>
            <a
                class="nav-link"
                routerLink="top-players"
                routerLinkActive="active">
                Records
            </a>
        </li>
        <li>
            <a
                class="nav-link"
                routerLink="login"
                routerLinkActive="active">
                Log in
            </a>
        </li>
    </ul>
</nav>
