#grid {
  /*display: grid;
  grid-template-columns: 80px 80px 80px 80px;*/
  position: relative;
}

.cell {
  position: absolute;
  line-height: 74px;
  height: 74px;
  text-align: center;
  font-size: 48px;
  border-style: solid;
  border-radius: 12px;
  background: linear-gradient(to bottom, #d5cea6 0%,#c9c190 40%,#b7ad70 100%);
  user-select: none;
  transition: all .4s ease;
  &.blank {
    background: #dae8e8;
    border-style: none;
    box-shadow: none;
  }
  &.hidden {
    visibility: hidden;
  }
  &.slideright {
    animation-name: slideright;
    animation-duration: 0.5s;
  }
  &.slideleft {
    animation-name: slideleft;
    animation-duration: 0.5s;
  }
  &.slideup {
    animation-name: slideup;
    animation-duration: 0.5s;
  }
  &.slidedown {
    animation-name: slidedown;
    animation-duration: 0.5s;
  }
  &.winner {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/Emoji_Grinning_Face_Smiling_Eyes.svg/128px-Emoji_Grinning_Face_Smiling_Eyes.svg.png);
    background-size: contain;
  }
}


@keyframes slideright {
  from {transform: translate(0,0)}
  to { transform: translate(calc(100% + 6px), 0);}
}

@keyframes slideleft {
  from {transform: translate(0,0)}
  to { transform: translate(calc(-100% - 6px), 0);}
}

@keyframes slideup {
  from {transform: translate(0,0)}
  to { transform: translate(0, calc(-100% - 6px));}
}

@keyframes slidedown {
  from {transform: translate(0,0)}
  to { transform: translate(0, calc(+100% + 6px));}
}


#clock {
  font-family: monospace;
  font-size: 48px;
}

#clock.slow {
  color: red;
}

.button {
  background-color: chocolate;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px;
}